.navbar-brand > img{
  position: relative;
  max-width: 90px;
  top: -2px;
}
.navbar-avatar{
  max-width: 35px;
  margin-right: 10px;
}
.section{
  padding: 60px 0;
}
.profile-stats{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.copyright{
  padding: 20px 0;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}