.navbar-brand > img{
  position: relative;
  max-width: 90px;
  top: -2px;
}
.navbar-avatar{
  max-width: 35px;
  margin-right: 10px;
}
.section{
  padding: 60px 0;
}
.profile-stats{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.copyright{
  padding: 20px 0;
}
.font-weight-light{
  font-weight: 300;
}
.card-post > .card-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.card-post > .card-block{
  margin-bottom: 70px;
}
.card-post{
  min-width: 47.5%;
}
.sidebar-item > a{
  line-height: 12px;
}
.sidebar-item{
  margin-bottom: 5px;
}
.type-wrap:not(.active), .freq-wrap:not(.active){
  display: none;
}
.delete{
  cursor: pointer;
}