@mixin overlay() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
@mixin full-width-height() {
  width: 100%;
  height: 100%;
}
/*  HELPERS */
body, html{
  @include full-width-height();
}
img{
  max-width: 100%;
}
.page-title{
  padding: 60px 0;
}
.section{
  padding: 45px 0;
}
@for $i from 0 through 10 {
  $multiple : $i * 5;
  .mbottom-#{$multiple} {
    margin-bottom: #{$multiple}px;
  }
}
@each $type in margin, padding {
  @each $position in bottom, top, left, right{
    @for $i from 0 through 10 {
      $multiple : $i * 5;
      .#{$type}-#{$position}--#{$multiple} {
        #{$type}-#{$position}: #{$multiple}px;
      }
    }
  }
}
.pull-right{
  float: right;
}
.fwidth {
  display: block;
  width: 100%;
}
.vcontainer{
  display: table;
  @include full-width-height();
  > .valign{
    display: table-cell;
    vertical-align: middle;
  }
}
.label-input--file{
  top: 0 !important;
  font-size: 12px;
}
/*  MDL OVERRIDES */
.mdl-grid{
  max-width: 1140px;
}

.auth-logo{
  text-align: center;
  > img{
    margin-bottom: 25px;
    max-width: 240px;
  }
}
.auth-box{
  width: calc(100% - 16px);
  max-width: 380px;
  margin: 0 auto;
  padding: 30px 0;
}
.auth-more-info{
  margin-top: 15px;
  padding: {
    left: 5px;
    right: 5px;
  };
}
/*  PROFILE PAGE  */

.profile-banner{
  min-height: 300px;
}
.profile-info{
  margin-top: -200px;
  @media (max-width: 480px){
    margin-top: -270px;
  }
}
.profile-image {
  padding: {
    top: 40px;
    left: 25px;
    right: 25px;
  }
  > div{
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    img {
      border-radius: 50%;
      width: 100%;
    }
    .mdl-button{
      position: absolute;
      bottom: 10%;
      right: 5%;
    }
  }
}
.profile-name > h4{
  font-weight: 300;
}
.profile-stats{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.profile-stat-item {
  padding: 5px 25px;
}
.profile-stat-value {
  font-size: 24px;
}
.profile-stat-name {
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
}
.profile-data.mdl-list .mdl-list__item-icon {
  margin-left: 22px;
  @media (max-width: 480px) {
    margin-left: 0;
    margin-right: 15px;
  }
}
.filter{
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  > li{
    margin: 0 3px;
  }
}
.mdl-chip.filter-chip{
  background-color: transparent;
}
.mdl-chip.filter-chip.active{
  background-color: #dedede;
}
.profile-posts{
  margin-bottom: 100px;
}
.post{
  position: relative;
  padding: 15px;
  border-top: #dedede 1px solid;
  > {
    .post-price {
      position: absolute;
      right: 15px;
      font-weight: 600;
    }
    .post-title{
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 600;
      padding-right: 55px;
      @media (max-width: 480px){
        font-size: 18px;
      }
    }
  }
}
.post-info{
  > {
    .post-description{
      margin-bottom: 10px;
    }
    .post-stats{
      .material-icons{
        font-size: 14px;
      }
    }
  }
}
